Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
Обратите внимание, что признак Sex имеет строковые значения.
Выделите целевую переменную — она записана в столбце Survived.
В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [53]:
import pandas as pd
Data = pd.read_csv('titanic.csv', sep=',', index_col='PassengerId')
Data.Sex = Data.Sex.apply(lambda x: int(x == 'male'))
Data.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C

In [60]:
import numpy as np
evidence = Data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].copy()
print('evidence with nan:', evidence.shape)
evidence.dropna(inplace = True)
print('evidence without nan:', evidence.shape)
X = np.array(evidence[['Pclass', 'Fare', 'Age', 'Sex']])
print('type(X):', type(X))
print(X[:2])
y = np.array(evidence.Survived)
print(y[:6])
print(X.shape, y.shape)

evidence with nan: (891, 5)
evidence without nan: (714, 5)
type(X): <class 'numpy.ndarray'>
[[  3.       7.25    22.       1.    ]
 [  1.      71.2833  38.       0.    ]]
[0 1 1 1 0 0]
(714, 4) (714,)

Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

In [61]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [62]:
clf.feature_importances_

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])