In [2]:
import pandas as pd
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [8]:
print(data[:1])

             Survived  Pclass                     Name   Sex   Age  SibSp  \
PassengerId
1                   0       3  Braund, Mr. Owen Harris  male  22.0      1

             Parch     Ticket  Fare Cabin Embarked
PassengerId
1                0  A/5 21171  7.25   NaN        S

In [10]:
data.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [19]:
sex = data['Sex'].value_counts()
file = open('a1.txt', 'w')
file.write(str(sex['male']) + ' ' + str(sex['female']))
file.close()
!cat a1.txt

577 314

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [23]:
die_rate = round(data['Survived'].mean() * 100, 2)
file = open('a2.txt', 'w')
file.write(str(die_rate))
file.close()
!cat a2.txt

38.38

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [37]:
classes = data['Pclass'].value_counts()
first_part = round(classes[1] / sum(classes), 2)
file = open('a3.txt', 'w')
file.write(str(first_part))
file.close()
!cat a3.txt

0.24

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [47]:
age_mean = data['Age'].mean()
age_median = data['Age'].median()
file = open('a4.txt', 'w')
file.write(str(age_mean) + ' ' + str(age_median))
file.close()
!cat a4.txt

29.69911764705882 28.0

Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [51]:
correl = data.corr()['SibSp']['Parch']
file = open('a5.txt', 'w')
file.write(str(correl))
file.close()
!cat a5.txt

0.41483769862

In [69]:
names = list(data['Name'])
names = [x.split() for x in names]
words_counts = dict()
for name in names:
    for word in name:
        if word not in words_counts:
            words_counts[word] = 1
        else:
            words_counts[word] += 1
words_counts_list = words_counts.items()
words_counts_list = sorted(words_counts_list, key=lambda x: x[1], reverse=True)

In [73]:
print(words_counts_list[:20])
file = open('a6.txt', 'w')
file.write("Mary")
file.close()
!cat a6.txt

[('Mr.', 517), ('Miss.', 182), ('Mrs.', 125), ('William', 62), ('John', 44), ('Master.', 40), ('Henry', 33), ('James', 24), ('Charles', 23), ('George', 22), ('Thomas', 21), ('Edward', 18), ('Joseph', 16), ('Johan', 15), ('Frederick', 15), ('Mary', 13), ('Richard', 13), ('Samuel', 13), ('Arthur', 13), ('Alfred', 12)]
Mary