In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv('dataset.tsv', sep='\t', header=0)

In [3]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [4]:
frame.dtypes

Name        object
Birth       object
City        object
Position    object
dtype: object

In [5]:
#Change type of column
frame.Birth = frame.Birth.apply(pd.to_datetime)

In [6]:
frame

              Name      Birth       City  Position
0      Иванов А.А. 1980-03-22     Москва       NaN
1     Сорокин И.В. 1965-07-08  Волгоград   инженер
2       Белов М.М. 1980-02-13     Ростов  менеджер
3  Мельникова Д.С. 1985-04-15     Ростов       NaN
4      Рыбина Е.П. 1985-11-19     Москва   инженер
5     Костров С.О. 1985-05-31     Москва    стажер

In [8]:
frame.dtypes

Name                object
Birth       datetime64[ns]
City                object
Position            object
dtype: object

In [9]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
Name        6 non-null object
Birth       6 non-null datetime64[ns]
City        6 non-null object
Position    4 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 272.0+ bytes

In [15]:
#replace all None records on smth
frame.fillna('Разнорабочий', inplace=True)

In [16]:
frame

              Name       Birth       City      Position
0      Иванов А.А.  22.03.1980     Москва  Разнорабочий
1     Сорокин И.В.  07.08.1965  Волгоград       инженер
2       Белов М.М.  13.02.1980     Ростов      менеджер
3  Мельникова Д.С.  15.04.1985     Ростов  Разнорабочий
4      Рыбина Е.П.  19.11.1985     Москва       инженер
5     Костров С.О.  31.05.1985     Москва        стажер

### Selection

In [17]:
frame.Position

0    Разнорабочий
1         инженер
2        менеджер
3    Разнорабочий
4         инженер
5          стажер
Name: Position, dtype: object

In [19]:
frame[['Name', 'Position']]

              Name      Position
0      Иванов А.А.  Разнорабочий
1     Сорокин И.В.       инженер
2       Белов М.М.      менеджер
3  Мельникова Д.С.  Разнорабочий
4      Рыбина Е.П.       инженер
5     Костров С.О.        стажер

In [20]:
frame.head(3)

           Name       Birth       City      Position
0   Иванов А.А.  22.03.1980     Москва  Разнорабочий
1  Сорокин И.В.  07.08.1965  Волгоград       инженер
2    Белов М.М.  13.02.1980     Ростов      менеджер

In [21]:
frame[:3]

           Name       Birth       City      Position
0   Иванов А.А.  22.03.1980     Москва  Разнорабочий
1  Сорокин И.В.  07.08.1965  Волгоград       инженер
2    Белов М.М.  13.02.1980     Ростов      менеджер

In [22]:
frame[-3:]

              Name       Birth    City      Position
3  Мельникова Д.С.  15.04.1985  Ростов  Разнорабочий
4      Рыбина Е.П.  19.11.1985  Москва       инженер
5     Костров С.О.  31.05.1985  Москва        стажер

In [23]:
frame.loc[[1, 3, 5], ['Name', 'City']]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [24]:
frame.iloc[[1, 3, 5], [0, 2]]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [25]:
frame.ix[[1, 3, 5], ['Name', 'City']]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [26]:
frame.ix[[1, 3, 5], [0, 2]]

              Name       City
1     Сорокин И.В.  Волгоград
3  Мельникова Д.С.     Ростов
5     Костров С.О.     Москва

In [29]:
frame[frame.Birth >= pd.datetime(1985, 1, 1)]

              Name      Birth    City      Position
3  Мельникова Д.С. 1985-04-15  Ростов  Разнорабочий
4      Рыбина Е.П. 1985-11-19  Москва       инженер
5     Костров С.О. 1985-05-31  Москва        стажер

In [32]:
frame[(frame.Birth >= pd.datetime(1985, 1, 1)) & (frame.City != 'Москва')]

              Name      Birth    City      Position
3  Мельникова Д.С. 1985-04-15  Ростов  Разнорабочий

In [35]:
frame[(frame.Birth >= pd.datetime(1985, 1, 1)) | (frame.City == 'Волгоград')]

              Name      Birth       City      Position
1     Сорокин И.В. 1965-07-08  Волгоград       инженер
3  Мельникова Д.С. 1985-04-15     Ростов  Разнорабочий
4      Рыбина Е.П. 1985-11-19     Москва       инженер
5     Костров С.О. 1985-05-31     Москва        стажер

In [47]:
frame = pd.DataFrame({'Name' : ['Michail', 'Maxim'], 'Birth' : ['22.04.1976', '08.12.1993']}, columns=['Name', 'Birth'])

In [58]:
frame['IsStudent'] = [False, True]
print(frame)
frame = frame.drop('IsStudent', axis = 1)

      Name       Birth IsStudent
0  Michail  22.04.1976     False
1    Maxim  08.12.1993      True

In [64]:
frame['IsStudent'] = (False, True)

In [62]:
frame = frame.drop('IsStudent', axis = 1)

In [65]:
frame

      Name       Birth IsStudent
0  Michail  22.04.1976     False
1    Maxim  08.12.1993      True

In [9]:
import numpy as np
import numpy

In [5]:
c = np.array([True, False])

In [6]:
c

array([ True, False], dtype=bool)

In [7]:
a = np.array([6, 3, -5]) 
b = np.array([-1, 0, 7])

In [11]:
numpy.linalg.norm(a, ord=1) - np.linalg.norm(b, ord=1)

6.0

In [16]:
import scipy.spatial.distance

In [17]:
scipy.spatial.distance.cdist(a[numpy.newaxis, :], b[numpy.newaxis, :], metric='euclidean')

array([[ 14.2126704]])

In [18]:
scipy.spatial.distance.cdist(a[:, numpy.newaxis], b[:, numpy.newaxis], metric='euclidean')

array([[  7.,   6.,   1.],
       [  4.,   3.,   4.],
       [  4.,   5.,  12.]])

In [19]:
scipy.spatial.distance.cdist(b, a, metric='euclidean')

ValueError: XA must be a 2-dimensional array.

In [21]:
a[:, numpy.newaxis]

array([[ 6],
       [ 3],
       [-5]])

In [22]:
a = numpy.array([0, -1, 11])
b = numpy.array([3, 7, 2])

In [23]:
numpy.dot(a, b)

15

In [24]:
numpy.dot(a, b) / numpy.linalg.norm(a) / numpy.linalg.norm(b)

0.17247076868185271

In [25]:
b.dot(a)

15

In [26]:
a * b

array([ 0, -7, 22])

In [37]:
a = numpy.array([8, 10, -1, 0, 0])

In [40]:
a = numpy.array([8, 10, -1, 0, 0])
a = a.reshape((5, 1))
a

array([[ 8],
       [10],
       [-1],
       [ 0],
       [ 0]])

In [41]:
a = numpy.array([8, 10, -1, 0, 0])
a = a[numpy.newaxis, :]
a

array([[ 8, 10, -1,  0,  0]])

In [44]:
a = numpy.array([8, 10, -1, 0, 0])
a = a.reshape((1, 5))
a.shape

(1, 5)

In [45]:
a = numpy.array([8, 10, -1, 0, 0])
a = a[:, numpy.newaxis]
a.shape

(5, 1)

In [49]:
f = np.arange(1, 2, 0.1)
f.shape

(10,)

In [52]:
c = np.eye(4, 5)
c

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.]])

In [54]:
d = np.ones((10, 10))
d

array([[ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.]])

In [60]:
a = np.array([[4, 3, 2], [2, 9, 1], [3, 1, 9]], ndmin=2)
a

array([[4, 3, 2],
       [2, 9, 1],
       [3, 1, 9]])

In [65]:
e = np.arange(1, 13, 2).reshape((3, 2))
e

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]])

In [63]:
np.arange(1, 13, 2)

array([ 1,  3,  5,  7,  9, 11])

In [77]:
a = np.eye(4, 5)
a[[0, 3], [1, 3]].shape
#a[[0, 3], :][:, [1, 3]]

(2,)

In [84]:
w = np.array([[1, 1], [1, 2]])

In [85]:
np.linalg.eig(w)

(array([ 0.38196601,  2.61803399]), array([[-0.85065081, -0.52573111],
        [ 0.52573111, -0.85065081]]))

In [87]:
(3 - np.sqrt(5)) / 2

0.3819660112501051